{% extends "base.html" %}

{% block content %}


<form action="." method='POST'>{% csrf_token %}

    <ul style="border-color: #E91E63; border-style: double; width: fit-content;">
      <li>{{ object.title }}</li>
      <li>Price: ${{ object.price }}</li>
      <li>Product Summary: {% if object.summary != None and object.summary != '' %}{{ object.summary }}{% else %}Summary coming soon...{% endif %}</li>
      <li>Product Description: {% if object.description != None and object.description != '' %}{{ object.description }}{% else %}Description coming soon...{% endif %}</li>
      <li>Featured: {{ object.featured }}</li>
    </ul>

  <h3 style="color: #b12424; background: #c0c0c0; width: fit-content;">Are you sure you want to delete the product "{{ object.title}}"</h3>
  <p><input style="background: #9acd32;" type="submit" value="Yes"> <a href="../">Cancel</a></p>
</form>

<p style="color: blue">This is just an example of creating a Pure Django Form</p>
<p style="color: red">
  This is a Product delete Form for Product using ids in the url
</p>


{% endblock %}
