{% extends './root/base.html' %} {% block content %}

<h3>Product Details</h3>

<table>
    <thead>
        <tr>
            <th>Property</th>

            <th colspan="2">Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Name</td>

            <td>{% if title %}{{title}}{% else %}No name updated...{% endif %}</td>
        </tr>

        <tr>
            <td>Price</td>

            <td>{% if price %}${{price}}{% else %}Price not updated...{% endif %}</td>
        </tr>
        
        <tr>
            <td>Description</td>

            <td>{% if description %}{{description}}{% else %}No description available...{% endif %}</td>
        </tr>
        
        <tr>
            <td>Summary</td>

            <td>{% if summary %}{{summary}}{% else %}No summary available...{% endif %}</td>
        </tr>
        
        <tr>
            <td>Available</td>

            <td>{% if available %}{{available}}{% else %}Status not updated...{% endif %}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>&nbsp;</td>

            <td>For more details visit to: http://anyrandomsite.com</td>
        </tr>
    </tfoot>
</table>{% endblock %}
