{% extends './root/base.html' %}
{% block content %}

<div class="container-sm">
<h3 class="display-4">User Details</h3>

<table class="table table-striped table-bordered table-dark table-hover">
    <thead class="bg-danger text-center">
        <tr>
            <th scope="col">Property</th>

            <th scope="col">Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td scope="row">First Name</td>

            <td scope="row">{% if user.fname and user.fname != None and user.fname != '' %}{{user.fname}}{% else %}No name updated...{% endif %}</td>
        </tr>

        <tr>
            <td scope="row">Last Name</td>

            <td scope="row">{% if user.lname and user.lname != None and user.lname != '' %}{{user.lname}}{% else %}No name updated...{% endif %}</td>
        </tr>

        <tr>
            <td scope="row">Email</td>

            <td scope="row">{% if user.email and user.email != None and user.email != '' %}{{user.email}}{% else %}Email address not available...{% endif %}</td>
        </tr>

        <tr>
            <td scope="row">Password</td>

            <td scope="row" type="password">{% if user.password and user.password != None and user.password != '' %}*********<i> (Updated)</i>{% else %}Password not updated...{% endif %}</td>
        </tr>
        
        <tr>
            <td scope="row">Contact</td>

            <td scope="row">{% if user.contact and user.contact != None and user.contact != '' %}{{user.contact}}{% else %}No contact number available...{% endif %}</td>
        </tr>
        
        <tr>
            <td scope="row">Address</td>

            <td scope="row">{% if user.address and user.address != None and user.address != '' %}{{user.address}}{% else %}Address not updated...{% endif %}</td>
        </tr>
        
        <tr>
            <td scope="row">Profile</td>

            <td scope="row">{% if user.enabled and user.enabled != None and user.enabled != '' %}{% if user.enabled == True %}Enabled{% else %}Disabled{% endif %}{% else %}Unavailable...{% endif %}</td>
        </tr>
        
        <tr>
            <td scope="row">Status</td>

            <td scope="row">{% if user.deleted != None and user.deleted != '' %}{% if  user.deleted == True %}Deleted{% else %}Active{% endif %}{% else %}Unavailable...{% endif %}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>&nbsp;</td>

            <td scope="row"> <i><small>**For more details visit to: http://anyrandomsite.com</small></i></td>
        </tr>
    </tfoot>
</table>
</div>{% endblock %}
