 {% extends 'base.html' %}
 {% block content %}
    <h1>This is About View for {{request.user}}</h1>
<h3>Is LoggedIn: {{request.user.is_authenticated}}</h3>
<p>{% lorem 3 b random %}</p>

<h4 style="color: red">
<!-- this is rendered from the context passed to the about_view -->
  {{ my_text|capfirst|upper|title }}
</h4>
{{ my_html1|safe }}  <!-- Marks a string as not requiring further HTML escaping prior to output. When autoescaping is off, this filter has no effect. -->
{{ my_html2|striptags }} <!-- Makes all possible efforts to strip all [X]HTML tags. -->

<p>
  This number is rendered from the context passed to the about_view - {{ my_number }}
</p>
<!--
this is rendered from the context passed to the about_view
using a for loop to generate a ul for the list variable passed
the forloop.counter gives the counter number of the loop iteration
-->
  <ul>
    {% for item in my_list %} <!-- using for loop here -->
      {% if item == 995 %} <!-- using if statement here -->
      <li>{{forloop.counter}} - Number: {{ item|add:4 }}</li> <!-- using built-in filter reference here "|add:4"-->
      {% elif item == 660 %}
      <li>{{forloop.counter}} - Number: {{ item|add:6 }}</li> <!-- using built-in filter reference here "|add:6"-->
      {% else %}
      <li>{{forloop.counter}} - Name: {{ item }}</li>
      {% endif %} <!-- ending if here-->
    {% endfor %} <!-- ending for loop here-->
  </ul>

    {% endblock %}
