{% extends './root/base.html %}

{% block content %}
<div class="container-sm">
<form method='POST'>{% csrf_token %}
  <div class="form-group">
    <h3 class="display-4">Are you sure you want to delete?</h3>
    <div class="card text-white bg-dark w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title text-warning">{% if product.title and product.title != None and product.title != '' %}{{product.title}}{% else %}Unnamed Product{% endif %}</h5>
    <p class="card-text">{% if product.summary and product.summary != None and product.summary != '' %}{{product.summary}}{% else %}No summary available.{% endif %}</p>
    <p class="card-text text-success"> Price: {% if product.price and product.price != None and product.price != '' %}{{product.price}}{% else %}Price not available.{% endif %}</p>
  </div>
</div>
    <small class="form-text text-muted"><i>**This action cannot be reversed.</i></small>
  
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
</div>
  </div>
{% endblock %}