{% extends './root/base.html %} {% block content %}

<div class="container-sm">
    <h3 class="display-4">Product List</h3>

    <table class="table table-sm table-striped table-bordered table-dark table-hover">
        <thead class="bg-danger text-center">
            <tr>
                <th scope="col">S.No</th>
                
                <th scope="col">Name</th>

                <th scope="col">Price</th>

                <th scope="col">Availablity</th>
                
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
          {% for product in product_list %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                
                <td scope="row">{% if product.title and product.title != None and product.title != '' %}{{product.title}}{% else %}Unnamed Product{% endif %}</td>

                <td scope="row">{% if product.price and product.price != None and product.price != '' %}${{product.price}}{% else %}0.00{% endif %}</td>

                <td scope="row">{% if product.available and product.available != None and product.available != '' and product.available == True %}Available{% else %}Not Available{% endif %}</td>
                
                <td scope="row" class="d-flex justify-content-center">
                    <a href="{{ product.get_absolute_url }}" class="badge badge-warning mr-1">Details</a>
                    <a href="{% url 'delete' product.id %}" class="badge badge-danger ml-1">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td>&nbsp;</td>

                <td scope="row"><i><small>**For more details visit to: http://anyrandomsite.com</small></i></td>
            </tr>
        </tfoot>
    </table>
</div>{% endblock %}
